h1 TOP画面

= link_to "TOP", "/"

li
  = link_to "テスト1", "/"
li
  = link_to "テスト2", "/"
li
  = link_to "Qiita", "https://qiita.com/master_key", target: :_blank, rel: "noopener noreferrer"

h1 テスト
h1 テスト
h1 テスト
h1 テスト
h1 テスト
h1 テスト(最終行)
