<h1>TOP画面</h1>

<%= link_to "TOP", "/" %>
<nav>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "テスト1", "/#" %></li>
    <li><%= link_to "テスト2", "/#" %></li>
    <li><%= link_to "Qiita", "https://qiita.com/master_key", target: :_blank, rel: "noopener noreferrer" %></li>
  </ul>
</nav>