- prompt_default = "-----------選択-----------"
= form_with model: form_object, local: true, data: { turbo: false } do |f|
  = turbo_frame_tag "animal_form" do
    - if action_name == "edit"
      = f.hidden_field :deleted_at, value: nil
    .default_form
      .info
        / - if select_tab == "basic"
        - if true
          .default_form_box.column1
            .default_form_area
              .basic_info ■基本情報
              .default_form_division
                .default_form_cell
                  = render "/component/text_field", model: form_object, column: "name", class: "", placeholder: "必須", f: f
              .default_form_division
                .default_form_cell
                  = render "/component/text_field", model: form_object, column: "eng_name", class: "", placeholder: "", f: f
                .default_form_cell
                  = render "/component/text_field", model: form_object, column: "scientific_name", class: "", placeholder: "", f: f
              .default_form_division
                .default_form_cell
                  = render "/component/text_field", model: form_object, column: "wa_name", class: "", placeholder: "", f: f
                .default_form_cell
                  = render "/component/text_field", model: form_object, column: "kanji_name", class: "", placeholder: "", f: f

              .info_line
              .status_info ■身体情報
              .default_form_division
                .default_form_cell
                  = f.label :avg_weight
                  = f.number_field :avg_weight, class: "form-control", placeholder: ""
              .default_form_division
                .default_form_cell_to_min
                  = f.label :min_weight
                  = f.number_field :min_weight, class: "form-control", id: "status_type", placeholder: ""
                .form_to ～
                .default_form_cell_to_max
                  = f.label :max_weight
                  = f.number_field :max_weight, class: "form-control", id: "status_type", placeholder: ""
              .default_form_division
                .default_form_cell
                  = f.label :avg_long
                  = f.number_field :avg_long, class: "form-control", placeholder: ""
              .default_form_division
                .default_form_cell_to_min
                  = f.label :min_long
                  = f.number_field :min_long, class: "form-control", id: "status_type", placeholder: ""
                .form_to ～
                .default_form_cell_to_max
                  = f.label :max_long
                  = f.number_field :max_long, class: "form-control", id: "status_type", placeholder: ""
              .default_form_division
                .default_form_cell
                  = f.label :avg_long_tail
                  = f.number_field :avg_long_tail, class: "form-control", placeholder: ""
              .default_form_division
                .default_form_cell_to_min
                  = f.label :min_long_tail
                  = f.number_field :min_long_tail, class: "form-control", id: "status_type", placeholder: ""
                .form_to ～
                .default_form_cell_to_max
                  = f.label :max_long_tail
                  = f.number_field :max_long_tail, class: "form-control", id: "status_type", placeholder: ""
              .default_form_division
                .default_form_cell
                  = f.label :avg_tall
                  = f.number_field :avg_tall, class: "form-control", placeholder: ""
              .default_form_division
                .default_form_cell_to_min
                  = f.label :min_tall
                  = f.number_field :min_tall, class: "form-control", id: "status_type", placeholder: ""
                .form_to ～
                .default_form_cell_to_max
                  = f.label :max_tall
                  = f.number_field :max_tall, class: "form-control", id: "status_type", placeholder: ""

          .default_form_box.column2
            .default_form_area
              .basic_info ■分類
              .default_form_division
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "domain_code",
                      array: Domain.all,
                      master: "domain",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f}
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "red_list_code",
                      array: RedList.all,
                      master: "red_list",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
              .default_form_division
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "kingdom_code",
                      array: Kingdom.all,
                      master: "kingdom",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
              .default_form_division
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "phylum_code",
                      array: Phylum.all,
                      master: "phylum",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "sub_phylum_code",
                      array: SubPhylum.all,
                      master: "sub_phylum",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
              .default_form_division
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "class_code",
                      array: Classes.all,
                      master: "classes",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "sub_class_code",
                      array: SubClasses.all,
                      master: "sub_classes",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "infra_class_code",
                      array: InfraClasses.all,
                      master: "infra_classes",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
              .default_form_division
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "order_code",
                      array: Order.all,
                      master: "order",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "sub_order_code",
                      array: SubOrder.all,
                      master: "sub_order",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "infra_order_code",
                      array: InfraOrder.all,
                      master: "infra_order",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
              .default_form_division
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "family_code",
                      array: Family.all,
                      master: "family",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "sub_family_code",
                      array: SubFamily.all,
                      master: "sub_family",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
              .default_form_division
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "genus_code",
                      array: Genuses.all,
                      master: "genuses",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "sub_genus_code",
                      array: SubGenuses.all,
                      master: "sub_genuses",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
              .default_form_division
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "species_code",
                      array: Species.all,
                      master: "species",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }
                .default_form_cell.column2_form
                  = render partial: "/component/collection_select",
                    locals: { model: form_object,
                      column: "sub_species_code",
                      array: SubSpecies.all,
                      master: "sub_species",
                      set_code: "code",
                      set_name: "name",
                      prompt: prompt_default,
                      classes: "",
                      f: f }

              .info_line
              .status_info ■説明情報
              .column2_text_field_division
                .default_form_cell
                  = f.label "説明"
                  = f.text_area :note, class: "form-control column2_text_field", placeholder: ""

    .return_btn_area
      .normal_btn2.form_return_submit_btn
        - return_link = action_name == "new" ? "/animals" : "/animals/#{form_object.id}"
        = link_to "戻る", return_link, class: "no_underbar_link"

    .submit_btn_area
      = f.submit "保存", class: "normal_submit_btn"
