= form_with model: form_object, local: true, data: { turbo: false } do |f|
  = turbo_frame_tag "domain-select-frame" do
    = f.label "#{master}_code".to_sym
    = f.collection_select "#{master}_code".to_sym, master_table.constantize.all, :code, :name, { prompt: '--------選択--------' }, class: 'form-control'
