= turbo_stream.replace "animal_form", partial: "animal_ajax_form", locals: { master: master, master_table: master_table, form_object: form_object }

/ 以下同文
/ = turbo_stream.replace "animal_form" do
/   = render partial: "animal_ajax_form", locals: { master: master, master_table: master_table, form_object: form_object }
