.csv-index {
  padding: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.export-field {
  padding: 20px;
}

.csv-index-field-title {
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: bold;
}

.csv-index-btn-field {
  display: flex;
}

.csv-index-btn-area {
  padding: 0px 10px;
}

.csv-index-btn {
  font-size: 18px;
  padding: 20px;
}

.import-field {
  padding-top: 40px;
}

.csv-index-import-btn {
  padding: 6px 32px;
}

.csv-index-select-file-area {
  padding-top: 27px;
  padding-left: 10px;
}

.csv-index-select-file-field {
  padding-top: 10px;
  padding-left: 10px;
}