.basic-header {
   /* ヘッダーを画面上部に固定する */
  position: sticky;
  top: 0;
  height: 70px; /* ヘッダー高さ */
  display: flex; /* 子要素を横並びにする */
  background-color: #291c0e; /* ヘッダー背景色 */
  /*
    474333 茶色
    291c0e 濃い茶色
    07383F 濃い青緑
    2C3240 濃いグレー
  */
}

.top-title {
  padding-top: 10px;
  padding-left: 10px;
  color: aliceblue;
  font-size: 30px;
  font-weight: bold;
}

.top-list {
  margin-left: 1040px;
  margin-top: 8px;
}

.header-link {
  text-decoration: none;
  color: aliceblue;
}