.basic_header {
  z-index: 100;
   /* ヘッダーを画面上部に固定する */
  position: sticky;
  top: 0;
  height: 50px; /* ヘッダー高さ */
  display: flex; /* 子要素を横並びにする */
  background-color: #291c0e; /* ヘッダー背景色 */
  /*
    474333 茶色
    291c0e 濃い茶色
    07383F 濃い青緑
    2C3240 濃いグレー
  */
}

.top_title {
  padding-top: 5px;
  padding-left: 10px;
  color: aliceblue;
  font-size: 25px;
  font-weight: bold;
}

.top_list {
  margin-left: 1115px;
  padding-top: 0px;
  font-size: 14px;
}

.header_link {
  text-decoration: none;
  color: aliceblue;
}

/* ------------------- */
/* ハンバーガーメニュー */
/* ------------------ */
.hamburger {
  color: aliceblue;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  background: #291c0e;
  opacity: 0.9;
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50px;
  right: 0px;
  width: auto;
  padding: 4px;
  padding-right: 20px;
  border-radius: 4px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 6px;
}

.hidden {
  display: none;
}
